body {
  padding: 2rem;
  text-align: center;
}

.sorting-table {
  margin: 0 auto 2rem;
  
  td, th {
    text-align: left;
  }
  
  th {
    padding: 0.5rem 1rem;
    
    &[data-sortKey] {
      cursor: pointer;
      text-decoration: underline;
    }
    
    svg {
      margin-left: 0.25rem;
      position: relative;
      top: 3px;
    }
  }
  
  td {
    padding: 0.25rem 1rem;
  }
}